* {
  margin: 0;
}
body {
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
}
header {
  height: 35vh;
  background-color: #53075c;
  padding: 20px 0;
}
header,
section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
header > input {
  font-size: 50px;
  width: 10%;
  padding: 15px 30px;
  border: 2px solid white;
  border-radius: 5px;
  text-align: center;
  color: rgb(18, 1, 15);
}
button {
  color: white;
  padding: 10px 30px;
  cursor: pointer;
  background-color: #780f50;
  border-radius: 5px;
  border: 2px solid white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding-bottom: -30px;
}
button:active {
  box-shadow: gray 2px 2px 7px;
  background-color: gray;
  border: 2px solid gray;
}
section {
  background-color: #780f50;
  height: 65vh;
  padding: 5px 0;
}
section > div {
  text-align: center;
  background-color: #1b1b1a;
  height: 27%;
  width: 90%;
}
h1 {
  font-weight: bold;
  letter-spacing: 4px;
}
h2 {
  color: #780f50;
  margin-top: 10px;
}
p {
  margin-top: 20px;
}
